body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

app-header {
  position: sticky;
  top: 0;
}

.p-menubar {
  border-radius: 0;
}

.p-carousel-indicators {
  display: none !important;
}

.loading-prefill-container {
  margin-top: 30px;
}

.loading-prefill {
  margin: auto;
  color: transparent;
  background-image: linear-gradient(-100deg, #b9aeaa, #423f40);
  animation: gradient 1.2s ease infinite;
  background-size: 400% 400%;
  width: 50%;
  height: 2vh;
  margin-top: 30px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media only screen and (max-width: 600px) {
  .p-carousel-next,
  .p-carousel-prev {
    display: none !important;
  }
}
