.product-item-content {
  /* border: 1px solid var(--surface-d);
  border-radius: 3px; */
  margin: 0.3rem;
  text-align: center;
}

.product-image {
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* :host ::ng-deep .p-button {
  margin: 0 0.5rem 0 0;
  min-width: 10rem;
}

.confirmation-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

:host ::ng-deep .p-dialog .p-button {
  min-width: 6rem;
} */

.popular-movie-title {
  font-size: calc(0.25em + 1vmin);
}

.header {
  font-size: calc(1em + 1vmin);
  font-weight: bold;
  margin-left: 50px;
}

@media only screen and (max-width: 600px) {
  .header{
    margin-left: 5px;
  }
}
