.product-item {
  cursor: pointer;
}

.product-item-content {
  margin: 0.3rem;
  text-align: center;
}

.product-image {
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.popular-movie-title {
  font-size: calc(0.25em + 1vmin);
}

.header {
  font-size: calc(1em + 1vmin);
  font-weight: bold;
  margin-left: 50px;
}

@media only screen and (max-width: 600px) {
  .header{
    margin-left: 5px;
  }
}
